<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Document</title>
</head>
<body>
    
        <h1>TODO LIST</h1>

  <form action="/add/todo" method="POST">

        <div class="form-control">
                <div class="row">

                      <input type="text" placeholder="Add Todo" name="name">

                </div>
        </div>

        <div class="form-control">
            <div class="row">
                <input type="submit" name="Submit">
            </div>
        </div>


  </form>


        {{#if messages}}

            {{#each messages}}

            <p id="todo{{this._id}}" onclick="update(`{{this._id}}`)">{{this.name}}</p><a href="/todo/{{this._id}}?_method=DELETE">Delete</a> 

            {{/each}}

        {{/if}}

</body>


</html>